[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=network.target sound.target
After=network.target sound.target
PartOf=soundsnear-server.service

[Service]
User=tyler
DynamicUser=yes
SupplementaryGroups=audio
Restart=always
RestartSec=10
ExecStart=/usr/bin/librespot --name soundsnearone --onevent=/home/tyler/app/src/onLibrespotEvent.py --username 12131409190 --password notthistime
Environment="PYTHONPATH=$PYTHONPATH:/home/nvidia/.local/lib/python3.6/site-packages"
ReadWriteDirectories=/home/tyler
ReadWriteDirectories=/home/tyler/app/src

[Install]
WantedBy=multi-user.target
