[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=network.target sound.target
After=network.target sound.target

[Service]
User=tyler
DynamicUser=yes
SupplementaryGroups=audio
Restart=always
RestartSec=10
ExecStart=/usr/bin/librespot --name soundsnearone --onevent=/home/tyler/app/src/python/onLibrespotEvent.py
Environment="PYTHONPATH=$PYTHONPATH:/home/nvidia/.local/lib/python3.6/site-packages"
ReadWriteDirectories=/home/tyler
ReadWRiteDirectories=/home/tyler/app/src/python
#ReadWRiteDirectories=/usr/bin

[Install]
WantedBy=multi-user.target
